[project]
	description = Repository to test gerrithub integration with github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anton-Kulikov
[access "refs/for/refs/*"]
	read = group user/Anton-Kulikov
	push = group user/Anton-Kulikov
	label-Code-Review = -2..+2 group user/Anton-Kulikov
	label-Verified = -1..+1 group user/Anton-Kulikov
	rebase = group user/Anton-Kulikov
	removeReviewer = group user/Anton-Kulikov
	submit = group user/Anton-Kulikov
[access "refs/heads/*"]
	read = group user/Anton-Kulikov
	create = group user/Anton-Kulikov
	push = +force group user/Anton-Kulikov
	pushMerge = group user/Anton-Kulikov
[access "refs/tags/*"]
	push = +force group user/Anton-Kulikov
	createTag = group user/Anton-Kulikov
	createSignedTag = group user/Anton-Kulikov
